*{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	/* vertical-align 只能修饰行块级元素 */
	border: 0;
	vertical-align: middle;
}
input{
	outline: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix::after{
	content: '';
	display: block;
	clear: both;
	width: 0;
	height: 0;
	visibility: hidden;
}
