/*模板top开始*/
.muban-top{
	width: 100%;
	height: 100px;
}
.muban-top-inner{
	width: 1145px;
	height: 100px;
	margin: 0 auto;
	display: flex;
	position: relative;
}
.muban-top-inner img{
	width: 88px;
	height: 88px;
	margin-right: 24px;
}
.muban-top-inner h2{
	height: 100px;
    line-height: 100px;
    font-size: 36px;
}
.muban-top-phone{
	width: 230px;
	height: 100px;
	position: absolute;
	display: flex;
	align-items: center;
	top: 0px;
	right: 0px;
	line-height: 100px;
}
.muban-top-phone i{
	display: block;
	width: 30px;
	height: 24px;
	margin-left: 20px;
	background-image: url(../images/muban-jinglingtu.png);
	background-repeat: no-repeat;
	background-position: -179px 0px;
}
.muban-top-phone p{
	vertical-align: middle;
    color: #666;
    font-size: 30px;
    line-height: 100px;
    margin-left: 8px;
}
/*模板top结束*/

/*模板导航开始*/
.muban-nav{
	width: 100%;
	height: 58px;
	background-color: #2b2b2b;
}
.muban-nav-inner{
	width: 1145px;
	height: 58px;
	margin: 0 auto;
}
.muban-nav-inner ul{
	width: 1145px;
	height: 58px;
	display: flex;
}
.muban-nav-inner ul li{
	width: 81px;
	height: 58px;
}
.muban-nav-inner ul li a{
	display: block;
	width: 81px;
	height: 58px;
	text-align: center;
	line-height: 58px;
	font-size: 14px;
	color: white;
	cursor: pointer;
}
.muban-nav-inner ul li .muban-nav-ac{
	background-color: #ffc001;
}
.muban-nav-inner ul li a:hover{
	background-color: #ffc001;
}
/*模板导航结束*/

/*模板banner开始*/
.muban-banner{
	width: 100%;
	height: 600px;
	background-image: url(../images/muban-banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	position: relative;
	margin-bottom: 94px;
}
.muban-banner .muban-banner-dl{
	display: block;
	width: 180px;
	height: 50px;
	background-image: url(../images/muban-banner-denglu.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 12px;
	left: 990px;
	cursor: pointer;
}
.muban-banner .muban-banner-zc{
	display: block;
	width: 180px;
	height: 50px;
	background-image: url(../images/muban-banner-zhuce.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 12px;
	left: 1171px;
	cursor: pointer;
}
/*模板banner结束*/

/*模板下面title开始*/
.muban-title{
	width: 100%;
	height: 57px;
}
.muban-title p{
	font-size: 14px;
    color: #999;
    text-align: center;
    line-height: 20px;
}
.muban-title h2{
	font-size: 30px;
	font-weight: bold;
    color:  #2b2b2b;
    text-align: center;
    line-height: 37px;
}
.muban-line{
	width: 162px;
	height: 10px;
	margin: 0 auto;
	border-top: 1px solid #b2b2b2;
	margin-top: 12px;
	position: relative;
}
.muban-line::after{
	content: "";
	width: 50px;
	height: 8px;
	background-color: #ffc001;
	position: absolute;
	left: 54px;
	top: -5px;
}
/*模板下面title结束*/

/*我们的优势开始*/
.muban-ys{
	width: 1140px;
	height: 380px;
	margin: 0 auto;
	margin-bottom: 200px;
	margin-top: 30px;
	display: flex;
}
.muban-ys-nr{
	width: 285px;
	height: 380px;
	margin-left: 20px;
}
.muban-ys-img{
	width: 134px;
	height: 134px;
	text-align: center;
	margin: 0 auto;
	margin-top: 61px;
}
.muban-ys-nr h3{
	width: 170px;
	margin: 0 auto;
	text-align: center;
	line-height: 46px;
    font-size: 18px;
    margin-top: 8px;
    color: #2b2b2b
}
.muban-ys-nr p{
	width: 210px;
	text-align: center;
	line-height: 24px;
	margin: 0 auto;
	font-size: 14px;
	color: #787878;
}
/*我们的优势结束*/

/*我们的案例开始*/
.muban-anli{
	width: 1220px;
	height: 440px;
	margin: 0 auto;
	margin-top: 16px;
}
.muban-anli ul{
	width: 1220px;
	height: 440px;
	display: flex;
	flex-wrap: wrap;
}
.muban-anli li{
	width: 265px;
	height: 170px;
	padding: 10px;
	margin: 15px 20px 15px 0px;
	overflow: hidden;
}
.muban-anli li img{
	width: 260px;
	height: 335.78px;
}
/*我们的案例结束*/

/*查看更多案例开始*/
.muban-cak-btn{
	display: block;
	width: 173px;
	height: 41px;
	line-height: 41px;
	text-align: center;
	background-color: #ffc001;
	margin: 0 auto;
	margin-top: 47px;
	margin-bottom: 145px;
	font-size: 14px;
	color: white;
	border-radius: 18px;
}
/*查看更多案例结束*/

/*一站式服务开始*/
.muban-sever{
	width: 1204px;
	height: 235px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.muban-sever li{
	width: 172px;
	height: 235px;
	text-align: center;
}
.muban-sever li .img{
	width: 171px;
	height: 171px;
	border-radius: 85px;
}
.muban-sever li p{
	font-size: 18px;
	color: #2b2b2b;
	line-height: 60px;
}
/*一站式服务结束*/

/*模板footer开始*/
.muban-footer{
	width: 100%;
	height: 140px;
	margin-top: 80px;
	overflow: hidden;
	text-align: center;
	background-color: #2b2b2b;
}
.muban-footer-nav{
	width: 457px;
	height: 25px;
	display: flex;
	justify-content:space-between;
	margin: 0 auto;
	margin-top: 33px;
}
.muban-footer-nav li{
	text-align: center;
	height: 25px;
	line-height: 25px;
}
.muban-footer-nav li a{
	display: block;
	height: 25px;
	line-height: 25px;
	color: #d0dcdc;
}
.muban-footer-nav li a:hover{
	color: red;
}
.muban-footer h2{
	width: 150px;
	height: 53px;
	margin: 0 auto;
}
.muban-footer h2 a{
	width: 150px;
	height: 53px;
	line-height: 53px;
	text-align: center;
	font-size: 14px;
	color: #1600ee;
}
.muban-footer p{
	color: #d0dcdc;
}
/*模板footer结束*/
